@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

.navbar {
  height: 80px;
}

main {
  width: calc(100% - 128px);
}

// start modal
.ant-modal {
  .ant-modal-content {
    border-radius: 4px !important;

    .ant-modal-close {
      display: none;
    }
    .ant-modal-header {
      display: none;
    }
    .ant-modal-footer {
      display: none;
    }
    .ant-modal-body {
      padding: 0;
    }
  }
}
// end modal

// start form

.ant-picker,
.ant-input,
.ant-select:not(.ant-select-customize-input) > .ant-select-selector {
  background-color: #f8f8f8;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  &:hover {
    border-color: #02a7c3;
  }
  &:focus {
    border-color: #02a7c3;
  }
}

.ant-picker,
input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar {
  display: flex;
  align-items: center;
  .ant-form-item {
    margin-bottom: 0;
  }
  button,
  .ant-picker {
    height: 40px;
  }
  .ant-select:not(.ant-select-customize-input) {
    height: 40px;
    .ant-select-selector {
      height: 40px !important;
    }
  }
}

.sidebar {
  ul {
    .logo {
      height: 80px;
    }
  }
}

.active {
  background-color: rgb(2 167 195 / 0.05);
  svg,
  h6 {
    color: rgb(2 167 195 / 0.6);
  }
}

.auth {
  .ant-input {
    height: 45px;
  }
  button[type="submit"] {
    height: 45px;
  }
}

// .filter-date {
//   .ant-picker {
//     height: 40px;
//   }
//   .ant-select:not(.ant-select-customize-input) {
//     .ant-select {
//       height: 40px !important;
//     }
//   }
// }

.search-input {
  .ant-input {
    background-color: transparent;
  }
  .ant-form-item {
    margin: 0;
  }
  .ant-input-affix-wrapper {
    border: 0;
    box-shadow: none;
  }
}

.filter {
  button {
    height: 45px;
  }
  .ant-picker {
    height: 45px !important;
  }
  .ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      height: 45px !important;
    }
  }
}

.ant-picker-focused {
  box-shadow: none;
  border-right-width: 0;
  outline: 0;
}

.add-transaction {
  button {
    height: 45px;
  }
  input {
    height: 45px;
  }
  .ant-picker {
    height: 45px !important;
  }
  .ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      height: 45px !important;
    }
  }
}
.ant-select:not(.ant-select-customize-input) {
  .ant-select-selector {
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    .ant-select-selection-search {
      left: 10 !important;
      display: flex;
      align-items: center;
      input {
        padding: 0 !important;
      }
    }
  }
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  ) {
  .ant-select-selector {
    outline: 2px solid transparent;
    border: 1px solid #02a7c3 !important;
    box-shadow: none;
  }
}
// end form

// ant-picker styles start

.ant-picker-panel {
  .ant-picker-body {
    table {
      td.ant-picker-cell-selected {
        .ant-picker-cell-inner {
          background-color: #02a7c3;
        }
      }
      td.ant-picker-cell-today {
        .ant-picker-cell-inner::before {
          border-color: #02a7c3;
        }
      }
    }
  }
  .ant-picker-footer {
    .ant-picker-today-btn {
      color: #02a7c3;
    }
  }
}

// ant-picker styles end

// popover styles start

.ant-popover-placement-bottomRight {
  padding-top: 8px;
  padding-right: -16px;
  .ant-popover-arrow {
    right: 10px;
  }
  .ant-popover-inner {
    border-radius: 4px;
  }
}

.ant-popover-buttons {
  .ant-btn.ant-btn-default {
    &:hover {
      border-color: #02a7c3 !important;
      color: #02a7c3;
    }
  }
  .ant-btn.ant-btn-primary {
    color: #02a7c3;
    border-color: #02a7c3;
    &:hover {
      border-color: #02a7c3 !important;
      background-color: #02a7c3;
      color: #ffffff;
    }
  }
}
// popover styles end

//collapse styles start
.ant-collapse-borderless {
  background-color: transparent;

  .ant-collapse-item {
    &:last-child {
      .ant-collapse-header {
        border-radius: 4px 4px 0 0;
      }
    }
    .ant-collapse-content {
      .ant-collapse-content-box {
        padding-top: 0;
      }
    }
  }
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      align-items: center;
      .ant-collapse-expand-icon {
        display: flex;
        margin-right: 4px;
      }
      .ant-collapse-header-text {
        font-size: 14px;
        font-weight: 600;
        color: #141418;
        flex: 11.8;
      }
      .ant-collapse-arrow {
        margin-right: 0;
      }
    }
  }
}

.ant-collapse-item {
  .ant-collapse-content {
    .ant-collapse-content-box {
      padding-top: 0;
    }
  }
  .ant-collapse-header {
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    .ant-collapse-arrow {
      margin-right: 0;
    }
  }
}

.ant-collapse-content {
  .ant-collapse-content-box {
    padding: 0;
  }
}

.site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  border: 0px;
  border-radius: 2px;
}

// collapse styles end

// table styles start
.budget {
  .ant-table {
    .ant-table-tbody {
      .ant-table-row {
        &:last-child {
          .ant-table-cell {
            &:first-child {
              border-radius: 0 0 0 4px;
            }
            &:last-child {
              border-radius: 0 0 4px 0;
            }
          }
        }
      }
    }
  }
  .ant-pagination {
    display: none;
  }
}

// @media not all and (min-width: 1280px) {
.transaction-analytics {
  canvas {
    width: 100% !important;
  }
}
.wallet-analytics {
  canvas {
    width: 100% !important;
  }
}
// }

.budget-table {
  min-width: 640px;
}
