@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

// start modal
.ant-modal {
  .ant-modal-content {
    border-radius: 4px !important;

    .ant-modal-close {
      display: none;
    }
    .ant-modal-header {
      display: none;
    }
    .ant-modal-footer {
      display: none;
    }
    .ant-modal-body {
      padding: 0;
    }
  }
}
// end modal

// start form

.ant-picker,
.ant-input,
.ant-select:not(.ant-select-customize-input) > .ant-select-selector {
  background-color: #f3f7f3;
}

.ant-picker,
input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar {
  .ant-form-item {
    margin-bottom: 0;
  }
  .ant-picker {
    height: 45px;
  }
  .ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      height: 45px !important;
    }
  }
}

.navbar.transaction {
  .ant-picker {
    height: 40px;
    background-color: transparent;
    border: 0;
  }
}

.auth {
  .ant-input {
    height: 60px;
  }
}

.filter-date {
  .ant-picker {
    height: 40px;
  }
  .ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      height: 40px !important;
    }
  }
}

.search-form {
  .ant-input {
    background-color: transparent;
  }
  .ant-form-item {
    margin: 0;
  }
}
.ant-input-affix-wrapper {
  &:hover {
    border: 0 !important;
  }
}

.filter {
  button {
    height: 45px;
  }
  .ant-picker {
    height: 45px !important;
  }
  .ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      height: 45px !important;
    }
  }
}

.add-transaction {
  button {
    height: 45px;
  }
  input {
    height: 45px;
  }
  .ant-picker {
    height: 45px !important;
  }
  .ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      height: 45px !important;
    }
  }
}
.ant-select:not(.ant-select-customize-input) {
  .ant-select-selector {
    border: 1px solid #a4a4a4;
    color: #141418;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    &:focus {
      outline: 2px solid transparent;
      border: 1px solid #30be36;
      box-shadow: none;
    }
    &:hover {
      border: 1px solid #30be36;
    }
    .ant-select-selection-search {
      left: 10 !important;
      display: flex;
      align-items: center;
      input {
        padding: 0 !important;
      }
    }
  }
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
  .ant-select-selector {
    outline: 2px solid transparent;
    border: 1px solid #30be36 !important;
    box-shadow: none;
  }
}

.ant-picker-focused {
  border: 1px solid #30be36 !important;
}
// end form

// popover styles start

.ant-popover-placement-bottomRight {
  padding-top: 8px;
  padding-right: -16px;
  .ant-popover-arrow {
    right: 10px;
  }
  .ant-popover-inner {
    border-radius: 4px;
  }
}
// popover styles end

//collapse styles start
.ant-collapse-borderless {
  background-color: transparent;

  .ant-collapse-item {
    &:last-child {
      .ant-collapse-header {
        border-radius: 4px 4px 0 0;
      }
    }
    .ant-collapse-content {
      .ant-collapse-content-box {
        padding-top: 0;
      }
    }
  }
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      align-items: center;
      .ant-collapse-expand-icon {
        display: flex;
        flex: 0.2;
      }
      .ant-collapse-header-text {
        font-size: 14px;
        font-weight: 600;
        color: #141418;
        flex: 11.8;
      }
      .ant-collapse-arrow {
        margin-right: 0;
      }
    }
  }
}

.ant-collapse-item {
  .ant-collapse-content {
    .ant-collapse-content-box {
      padding-top: 0;
    }
  }
  .ant-collapse-header {
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    .ant-collapse-arrow {
      margin-right: 0;
    }
  }
}

.ant-collapse-content {
  .ant-collapse-content-box {
    padding: 0;
  }
}

.site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  border: 0px;
  border-radius: 2px;
}

// collapse styles end

// table styles start

.ant-table {
  .ant-table-tbody {
    .ant-table-row {
      &:last-child {
        .ant-table-cell {
          &:first-child {
            border-radius: 0 0 0 4px;
          }
          &:last-child {
            border-radius: 0 0 4px 0;
          }
        }
      }
    }
  }
}
